#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .logo {
    height: 3.5em;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0 1rem;
  }
}
